//- Generic meta tags
meta(charset='utf-8')
title RemainingToast Hub
meta(name='description', content="RemainingToast Hub. Get to any of my profiles from here.")
link(rel='icon' href=data.avatar)

//- Device/SEO meta
meta(name='viewport', content='width=device-width,initial-scale=1.0,viewport-fit=cover')
meta(name='keywords', content='RemainingToast,2b2t,Australa,Aussie,Anarchy,ToastMc')
meta(name='author', content='RemainingToast')

//- CSS
link(rel='stylesheet', href='/css/tailwind.css')

//- Shoelace
mixin slComp(name)
  script(type='module' src=`${data.shoelaceCdn}/dist/components/${name}/${name}.js`)

link(rel='stylesheet' href=`${data.shoelaceCdn}/dist/themes/dark.css`)
+slComp('dialog')
+slComp('icon')
+slComp('icon-button')
+slComp('tooltip')

style.
  .title {
    letter-spacing: 0.02em; /* Adjust the value as needed */
  }
