//- Generic meta tags
meta(charset='utf-8')
title tycrek's Social Hub
meta(name='description', content="tycrek's link hub. Get to any of my profiles from here.")
link(rel='icon' href=data.data.avatar)

//- Device/SEO meta
meta(name='viewport', content='width=device-width,initial-scale=1.0,viewport-fit=cover')
meta(name='keywords', content='tycrek,josh,moore,jmoore')
meta(name='author', content='tycrek')

//- CSS
style
	!= css

//- Scripts
script(async defer data-website-id='7625f992-ba2f-4dc0-afd8-fdb49f1adb4f' src='https://umami.jmoore.dev/umami.js')

//- Shoelace
mixin slComp(name)
	script(type='module' src=`${data.data.shoelaceCdn}/dist/components/${name}/${name}.js`)

link(rel='stylesheet' href=`${data.data.shoelaceCdn}/dist/themes/dark.css`)
+slComp('dialog')
+slComp('icon')
+slComp('icon-button')
+slComp('tooltip')
