mixin slLink(name, url, icon)
	sl-tooltip(content=name): sl-icon-button(name=icon label=name href=url target='_blank' class=`text-${name.toLowerCase()}` library='fa')
mixin slModal(name, onclick, icon)
	sl-tooltip(content=name): sl-icon-button(name=icon label=name onclick!=onclick class=`text-${name.toLowerCase()} modal` library='fa')

doctype html
html.sl-theme-dark
	head
		include head
		script.
			window.onload = () => document.querySelector('#discord-modal').classList.remove('hidden');
	body
		img(src=data.data.avatar alt='profile icon')
		h1.title tycrek
		.icon-container
			+slLink('Website', 'https://jmoore.dev', 'fas-globe')
			+slLink('Email', 'mailto:t@tycrek.com', 'fas-envelope')
			+slLink('GitHub', 'https://github.com/tycrek', 'fab-github')
			+slModal('Discord', 'return;', 'fab-discord')
			+slLink('Patreon', 'https://www.patreon.com/tycrek', 'fab-patreon')
			+slLink('Twitter', 'https://twitter.com/tycrek', 'fab-twitter')
			+slLink('YouTube', 'https://www.youtube.com/channel/UC7jkajSJgWpKQUPBPqW93wQ', 'fab-youtube')
			+slLink('Twitch', 'https://www.twitch.tv/tycrek', 'fab-twitch')
			+slLink('Spotify', 'https://open.spotify.com/user/nj8ajwl8yapcaw4p0t9bqi0rc', 'fab-spotify')
			+slLink('Steam', 'https://steamcommunity.com/id/tycrek/', 'fab-steam')

		sl-dialog.hidden#discord-modal(label='Contact via Discord')
			h2.text-xl.font-lato To reach me on Discord, you can try to DM me at #[span.font-space tycrek#0001], but I can't guarantee replies.

		include ../node_modules/shoelace-fontawesome-pug/sl-fa-mixin.pug
		script.
			const modal = document.querySelector('#discord-modal');
			document.querySelector('.text-discord.modal').addEventListener('click', () => modal.show());

		style.
			.icon-container sl-icon-button::part(base) {
				color: currentColor;
			}
			.icon-container sl-icon-button::part(base):hover,
			.icon-container sl-icon-button::part(base):focus {
				color: currentColor;
				opacity: 0.6;
			}
			.icon-container sl-icon-button::part(base):active {
				color: currentColor;
				opacity: 0.5;
			}

	.hidden
		//- hidden colour divs for Tailwind
		.hidden.text-website
		.hidden.text-email
		.hidden.text-github
		.hidden.text-discord
		.hidden.text-youtube
		.hidden.text-twitch
		.hidden.text-twitter
		.hidden.text-steam
		.hidden.text-spotify
		.hidden.text-patreon
