mixin slLink(name, url, icon)
	sl-tooltip(content=name): sl-icon-button(name=icon label=name href=url target='_blank' class=`text-${name.toLowerCase()}` library='fa')
mixin slModal(name, onclick, icon)
	sl-tooltip(content=name): sl-icon-button(name=icon label=name onclick!=onclick class=`text-${name.toLowerCase()} modal` library='fa')

doctype html
html.sl-theme-dark
	head
		include head
		include ../node_modules/shoelace-fontawesome-pug/sl-fa-mixin.pug
	body
		img(src=data.avatar alt='profile icon')
		h1.title RemainingToast
		.icon-container
			+slLink('Maven', 'https://maven.toastmc.dev', 'fas-globe')
			+slLink('Email', 'mailto:admin@2b2tu.au', 'fas-envelope')
			+slLink('GitHub', 'https://github.com/RemainingToast', 'fab-github')
			+slLink('Discord', 'https://discord.gg/kangaroo', 'fab-discord')
			+slLink('Twitter', 'https://twitter.com/RemainingToast', 'fab-twitter')
			+slLink('YouTube', 'https://www.youtube.com/@RemainingToast', 'fab-youtube')
			+slLink('Twitch', 'https://www.twitch.tv/RemainingToast', 'fab-twitch')
			+slLink('Steam', 'https://steamcommunity.com/id/RemainingToast/', 'fab-steam')

		style.
			.icon-container sl-icon-button::part(base) {
				color: currentColor;
			}
			.icon-container sl-icon-button::part(base):hover,
			.icon-container sl-icon-button::part(base):focus {
				color: currentColor;
				opacity: 0.6;
			}
			.icon-container sl-icon-button::part(base):active {
				color: currentColor;
				opacity: 0.5;
			}

	.hidden
		//- hidden colour divs for Tailwind
		.hidden.text-website
		.hidden.text-email
		.hidden.text-github
		.hidden.text-discord
		.hidden.text-youtube
		.hidden.text-twitch
		.hidden.text-twitter
		.hidden.text-steam
		.hidden.text-spotify
		.hidden.text-patreon
